version: "3"
services:
  led-driver:
    build: 
      context: ./led-driver
    privileged: true
    restart: always
    volumes:
      - ${PWD}/config.json:/lannootree/config.json
      - /var/run/:/lannootree/dev
      - /dev/mem:/dev/mem
      - /dev/vcio:/dev/vcio
      - /dev/gpiomem:/dev/gpiomem
      - /proc/cpuinfo:/proc/cpuinfo

  led-client:
    build:
      context: ./led-client
    privileged: true
    restart: always
    depends_on:
      - led-driver
    env_file:
      - ../.env
    volumes:
      - "../certs/ca.crt:/app/ca.crt:ro"
      - "../certs/client/client.crt:/app/client.crt:ro"
      - "../certs/client/client.key:/app/client.key:ro"
      - ${PWD}/led-client/processed/:/app/processed/
      - ${PWD}/config.json:/app/config.json
      - /var/run/:/var/run/
