:root{
    background-color: rgb(216, 216, 216);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(img/background.png);
    background-size: 100%;
    --font-color: #ddd;
    --primary-color: #333; 
    --secondary-color: #555;
    --third-color: hsla(160, 100%, 37%, 1);
}

body {
    height: 98%;
    display: flex;
    flex-direction: column;
}

#header {
    color: #FFF;
    background-color: var(--primary-color);
    align-content: center;
    align-self: center;
    padding: auto;
    flex: 1;
    width: 100%;
    border-radius: 7px;
    opacity: 97%;
    font-family: "segoe ui", "segoe ui lighter";
    font-weight: lighter;
    font-size: 40px;
  }
}



#banner {
    padding: 10px;
}

#footer {
    font-weight: lighter;
    flex: 1;
    bottom: 0;
    width: 100%;
}

.box {
    background-color: var(--secondary-color);
    border-radius: 7px;

    margin: 10px;
    padding: 30px;
    width: 300px;
    opacity: 95%;
}

.wrapper{
    color: var(--font-color);
    display: flex;
    flex: 1;
    flex-grow: 1;
    align-self: center;
    flex-direction: row;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
    
    .wrapper {
        flex-direction: column;
    }

    .box{
      max-width: 250px;
    }
}

.rad-label {
    display: flex;
    align-items: center;
  
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
  
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover {
    background: hsla(0, 0%, 80%, .14);
  }
  
  input[type="radio"] {
/*    position: absolute;*/
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
  }
  
  .rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  input[type="radio"]:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;

  
    transition: .3s;
  }
  
  input[type="radio"]:checked~.rad-text {
    color: #ddd;
  }

  #RGB {
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: cell;
      border-radius: 5px;
      width: 75px;
      height: 75px;
      border: solid;
      border-color: var(--secondary-color);
    
  }

  #submit_color {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    border: solid;
    border-color: var(--secondary-color);
  }

  input[type="button"] {
    background-color: rgb(3, 199, 134);
    border-color: rgb(3, 199, 134);
    border-style: solid;
    border-radius: 5px;
    opacity: 94%;
    color: var(--font-color);;
  }
  input[type="button"]:hover {
    opacity: 100%;
  }

  input[type="button"]:active {
    background-color: var(--font-color);
    border-color: var(--font-color);
    color: var(--primary-color);
  }

  #preloaded_img {
    opacity: 100%;
  }

  #img {
    opacity: 100%;
  }
/* for leaf selection https://www.w3schools.com/howto/howto_custom_select.asp */
/*radio buttons: https://codepen.io/AbubakerSaeed/pen/MWaEqJP */