[submodule "Lannootree_firmware/ws28128-rpi"]
	path = Lannootree_firmware/ws28128-rpi
	url = git@github.com:jazzycamel/ws28128-rpi.git
[submodule "Lannootree_firmware/testing/unix-domain-socket-cpp"]
	path = Lannootree_firmware/testing/unix-domain-socket-cpp
	url = git@github.com:rightson/unix-domain-socket-cpp.git
[submodule "Lannootree_firmware/rpi_ws281x"]
	path = Lannootree_firmware/rpi_ws281x
	url = git@github.com:jgarff/rpi_ws281x.git
[submodule "lannootree_firmware/json"]
	path = lannootree_firmware/json
	url = git@github.com:nlohmann/json.git
[submodule "lannootree_firmware/rpi_ws281x"]
	path = lannootree_firmware/rpi_ws281x
	url = git@github.com:jgarff/rpi_ws281x.git
