@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

.components {
  display: grid;
  place-items: center;
}

.componentsrow2 {
  padding-top: 10px;
  place-content: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }

  .components {
    display: flex;
  }
  .componentsrow2 {
    display: flex;


  }
}

button {
  color: #f2f2f2;
  opacity: 94%;
  background-color: hsla(160, 100%, 37%, 1);
  border-style: none;
  border-radius: 5px;
  margin-inline: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}


button:hover {

  opacity: 100%;
  border-style: none;
  border-radius: 5px;
}

.container {
  max-width: 500px;
  background-color: #333333;
  border-radius: 5px;
  margin: 2px;
}

a.linkbutton {
  color: #f2f2f2;
  opacity: 94%;
  background-color: hsla(160, 100%, 37%, 1);
  border-style: none;
  border-radius: 5px;
  padding-inline: 4px;
  padding-inline: 1;
}


a.linkbutton:hover {

  opacity: 100%;
  border-style: none;
  border-radius: 5px;
}